<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span
            class="c-gray en">&gt;</span> 借款协议模版 <a class="btn btn-success radius r mr-20"
                                                    style="line-height:1.6em;margin-top:3px"
                                                    href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="codeView docs-example">
        <form class="form form-horizontal" id="form">
            <input type="hidden" name="id" value="<%= template.id || '0' %>"/>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>协议类型：</label>

                <div class="formControls col-xs-8 col-sm-5"> <span class="select-box">
				<select class="select" name="type">
                    <% for(var key in _global.protocolType){ %>
                    <option <%= template.type == _global.protocolType[key].v ? 'selected=selected' : '' %>
                            value="<%= _global.protocolType[key].v %>"><%= _global.protocolType[key].desc %></option>
                    <% } %>
                </select>
                </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>

                <div class="formControls col-10" style="width:75%;">
                      <textarea id="content" name="content" class="textarea" style="height: 600px;"
                                name=""><%= template.content || "" %></textarea>
                </div>
            </div>

            <div class="row cl">
                <div class="col-10 col-offset-3">
                    <button id="sub" class="btn btn-primary radius" type="button"><i
                                class="Hui-iconfont">&#xe632;</i> 保存
                    </button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">
                        &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    $(".form").Validform({
        btnSubmit: '#sub',
        postonce: true,
        tiptype: 4,
        showAllError: true,
        ajaxPost: true,
        beforeSubmit: function (curform) {
            //if ($('#AccountId').val()) {
            var res = $('#form').serializeJson();
            $.ajax({
                url: '/template/saveProtocol',
                type: 'post',
                data: {template: JSON.stringify(res)},
                success: function (msg) {
                    if (!msg.err) {
                        Huimodal_alert('保存成功', 1000, function () {
                            parent.load();
                            layer_close();
                        });
                    }
                    else {
                        Huimodal_alert(msg.err, 1000, function () {
                        });
                    }
                }
            })
            return false;
            //}
        }
    });
</script>
</html>