<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= com.env.seo.title %>我的银行卡</title>
    <% include ../parent/static.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/BH/account/public.css"/>
    <link rel="stylesheet" type="text/css" href="/css/BH/parent/account_left.css"/>
</head>
<body>
<% include ../parent/top.ejs %>

<% include ../parent/account_left.ejs %>

<div class="personal_cen inv_main">


    <h3 style=" margin-bottom:10px; ">编辑银行卡</h3>
    <h4 style=" margin-bottom:60px; font-size: 16px;color:#999;">银行卡成功完成一次支付后，默认更变为快捷卡，投资提现更高效！</h4>
    <div class="reg_zf reg_main ">
        <form class="form-horizontal">


            <div class="tipsYz" style="width:170px;margin-left:108px;"></div>
            <div>
                <p><span class="sp2">真实姓名</span> <input disabled="disabled" type="text" value="<%= (user.realName ) %>"
                                                        _check="realname">
                </p>
            </div>
            <div>
                <p><span class="sp2">证件号码</span> <input type="text" disabled="disabled"
                                                        value="<%= user.idCard ? user.idCard.replace(/^(\d{3})(.+)(\w{4})$/, "$1****$3") : "" %>">
                </p>
            </div>

            <div>
                <p><span class="sp2">银行卡号</span> <input id="focus" type="text" name="cardId"
                                                        value="<%= bankCard.cardId || '' %>"
                                                        _check="cardno"><span class="sp4">单笔限额<i
                                class="col">50,000</i> 元，每日限额<i class="col">50,000</i>元</span></p>
            </div>
            <div>
                <p><span class="sp2">所属银行</span>
                    <select class="bankname" name="bank">
                        <% for(var key in _bank){ %>
                        <option <%= bankCard.bank == key ? 'selected="selected"' : '' %>
                                value="<%= key %>"><%= _bank[key].desc %>
                        </option>
                        <% } %>
                    </select></p>
            </div>
            <div>
                <p><span class="sp2">开户省市</span>
                    <select id="province" style="width:114px;" runat="server" name="province" _check="province"></select>
                    <select id="city" style="width:114px; margin-left: 10px" runat="server" name="city" _check="city"></select>
                </p>
            </div>
            <div>
                <p><span class="sp2">开户支行</span> <input id="focus" type="text" name="branch" _check="branch"
                                                        value="<%= bankCard.branch || '' %>">
                   <span class="sp4">  不知道支行名称的，请联系<i class="col">银行客服</i>查询。</span>
                </p>
            </div>
            <div>
                <p><span class="sp2">手机号码</span> <input id="focus" type="text" name="mobile"
                                                        value="<%= bankCard.mobile || '' %>"
                                                        _check="mobile"></p>
            </div>
            <div class="addbank_btn">
                <a href="javascript:" class="btn" onclick="ZC_api.saveBankCard()">确认添加</a>


            </div>
        </form>
    </div>

</div>
</div>


<% include ../parent/bottom.ejs %>
<script type="text/javascript">
    setup()
</script>
</body>

</html>