<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span
            class="c-gray en">&gt;</span> 添加资讯 <a class="btn btn-success radius r mr-20"
                                                  style="line-height:1.6em;margin-top:3px"
                                                  href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="codeView docs-example">
        <form class="form form-horizontal" id="form">
            <input type="hidden" name="id" value="<%= news.id || '0' %>"/>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>

                <div class="formControls col-xs-8 col-sm-5">
                    <input type="text" class="input-text" id="Title" placeholder="请输入标题" datatype="*2-100"
                           nullmsg="请输入标题" errormsg="大于2位小于100位" name="title" value="<%= news.title || '' %>"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>

                <div class="formControls col-xs-8 col-sm-5"> <span class="select-box">
				<select class="select" name="type">
                    <% for(var key in _global.newsType){ %>
                    <option <%= news.type == _global.newsType[key].v ? 'selected=selected' : '' %>
                            value="<%= _global.newsType[key].v %>"><%= _global.newsType[key].desc %></option>
                    <% } %>
                </select>
                </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>作者：</label>

                <div class="formControls col-xs-8 col-sm-5">
                    <input type="text" class="input-text" id="Title" placeholder="请输入作者" datatype="s2-100"
                           nullmsg="请输入作者" errormsg="大于2位小于100位" name="author" value="<%= news.author || '' %>"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序：</label>

                <div class="formControls col-xs-8 col-sm-5">
                    <input type="text" class="input-text" id="Title" placeholder="请输入排序"
                           datatype="n1-3"
                           nullmsg="请输入排序" errormsg="小于999" name="order" value="<%= news.order || '0' %>"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片：</label>

                <div class="formControls col-xs-8 col-sm-5" id="imgDiv">
                    <input type="hidden" value="<%= news.img || '' %>" name="img" id="img"/>
                    <div class="uploader-list fileList"></div>
                    <div class="filePicker" style="margin-top:10px;">选择图片</div>
                </div>

            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>

                <div class="formControls col-10" style="width:75%;">
                    <script id="editor" type="text/plain"
                            style="width:80%;height:400px;"><%- news.content || "" %></script>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>

                <div class="formControls col-xs-8 col-sm-5">
                    <select class="select-box" name="state">
                        <option value="0" <%= news.state == 0 ? 'selected=selected' : '' %>>禁用</option>
                        <option value="1" <%= news.state == 1 ? 'selected=selected' : '' %>>启用</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <div class="col-10 col-offset-3">
                    <button id="sub" class="btn btn-primary radius" type="button"><i
                                class="Hui-iconfont">&#xe632;</i> 保存
                    </button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">
                        &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    $(".form").Validform({
        btnSubmit: '#sub',
        postonce: true,
        tiptype: 4,
        showAllError: true,
        ajaxPost: true,
        beforeSubmit: function (curform) {
            //if ($('#AccountId').val()) {
            $.ajax({
                url: '/content/saveNews',
                type: 'post',
                data: {news: JSON.stringify($('#form').serializeJson())},
                success: function (msg) {
                    if (!msg.err) {
                        Huimodal_alert('保存成功', 1000, function () {
                            parent.load();
                            layer_close();
                        });
                    }
                    else {
                        Huimodal_alert(msg.err, 1000, function () {
                        });
                    }
                }
            })
            return false;
            //}
        }
    });
    $('#imgDiv').createUpload();
</script>
</html>