<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 积分管理 <span
            class="c-gray en">&gt;</span> 添加规则 <a class="btn btn-success radius r mr-20"
                                                  style="line-height:1.6em;margin-top:3px"
                                                  href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="codeView docs-example">
        <form class="form form-horizontal" id="form">
            <input type="hidden" name="id" value="<%= rule.id || '0' %>"/>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发放场景：</label>

                <div class="formControls col-xs-8 col-sm-5"> <span class="select-box">
				<select class="select" name="action">
                    <% for(var key in _global.actions){ %>
                    <% if( !_global.actions[key].hidden){ %>
                    <option <%= rule.action == _global.actions[key].v ? 'selected=selected' : '' %>
                            value="<%= _global.actions[key].v %>"><%= _global.actions[key].desc %></option>
                    <% }} %>
                </select>
                </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首次发放：</label>
                <div class="formControls col-xs-8 col-sm-5"> <span class="select-box">
				<select class="select" name="sendFirst">
                    <option <%= rule.sendFirst == _global.state.Complete.v ? 'selected=selected' : '' %>
                            value="<%= _global.state.Complete.v %>">是
                    </option>
                    <option <%= rule.sendFirst == _global.state.Wait.v ? 'selected=selected' : '' %>
                            value="<%= _global.state.Wait.v %>">否
                    </option>
                </select>
				</span></div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发放类型：</label>

                <div class="formControls col-xs-8 col-sm-5"> <span class="select-box">
				<select class="select" name="awardType">
                    <% for(var key in _global.awardType){ %>
                    <option <%= rule.awardType == _global.awardType[key].v ? 'selected=selected' : '' %>
                            value="<%= _global.awardType[key].v %>"><%= _global.awardType[key].desc %></option>
                    <% } %>
                </select>
                </span>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发放数量：</label>

                <div class="formControls col-xs-8 col-sm-5">
                    <input type="text" class="input-text" id="number" placeholder="请输入发放数量" datatype="n1-10"
                           nullmsg="请输入发放数量" errormsg="请输入整数值" name="number"
                           value="<%= rule.number ? (rule.awardType == _global.awardType.Fixed.v ? rule.number : (rule.number * 100).toFixed(0)) : '' %>"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>

                <div class="formControls col-xs-8 col-sm-5"><span class="select-box">
                    <select class="select" name="state">
                        <option value="0" <%= rule.state == 0 ? 'selected=selected' : '' %>>禁用</option>
                        <option value="1" <%= rule.state == 1 ? 'selected=selected' : '' %>>启用</option>
                    </select>
                        </span>
                </div>
            </div>
            <div class="row cl">
                <div class="col-10 col-offset-3">
                    <button id="sub" class="btn btn-primary radius" type="button"><i
                                class="Hui-iconfont">&#xe632;</i> 保存
                    </button>
                    <button onClick="layer_close();" class="btn btn-default radius" type="button">
                        &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    $("#form").Validform({
        btnSubmit: '#sub',
        postonce: true,
        tiptype: 4,
        showAllError: true,
        ajaxPost: true,
        beforeSubmit: function (curform) {
            $.ajax({
                url: '/integral/saveRule',
                type: 'post',
                data: {rule: JSON.stringify($('#form').serializeJson())},
                success: function (msg) {
                    if (!msg.err) {
                        Huimodal_alert('保存成功', 1000, function () {
                            parent.load();
                            layer_close();
                        });
                    }
                    else {
                        Huimodal_alert(msg.err, 1000, function () {
                        });
                    }
                }
            })
            return false;
        }
    });
</script>
</html>